<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  
	<script src="https://kit.fontawesome.com/0d4692f1c3.js" crossorigin="anonymous"></script>
	  
    <!-- Bootstrap CSS -->
	  <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Muli:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/main02.css">
    <title>Cousinhood Films</title>
  </head>
  <body>
		
				<nav id="nav-fix" class="boot-nav-main navbar navbar-expand-sm my-2">
				  <a class="brand-icon-text brand-con navbar-brand my-auto" href="/all">Cousinhood Films <i class="fas fa-film"></i></a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"><i class="fas fa-bars" style="color: white;"></i></span>
				  </button>

				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto m">
					  
					</ul>
					<form class="form-inline my-2 my-lg-0 ml-2">
						<a href="/all/new" class="btn-actions btn btn-outline-success my-2 my-sm-0 mr-2">
						  Add Catagory
						</a>
						<a href="/film" class="btn-actions btn btn-outline-success my-2 my-sm-0 mr-2">
						  View Films
						</a>
					  <button class="btn-actions btn btn-outline-success my-2 my-sm-0 mr-2">
						  Sign up
						</button>
					  <button class="btn-actions btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">Login</button>
					</form>
						
				  </div>
				</nav>
			
		