<!-- new category form -->
<%- include("../partials/header") -%>
<div class="container">
	<h1>
		Add new category
	</h1>
	<form id="category-form" action="/all" method="POST">
		<input type="text" name="name" placeholder="category name">
		<textarea form="category-form" name="description" placeholder="category description" cols="50"></textarea> 
		<label class="lab-fix-01 d-inline" for="featured">Feature<input name="featured" id="lab-fix-02" class="ml-2 messageCheckbox d-inline" type="checkbox" value="true">
		<input type="text" name="featuredUrl" placeholder="featured url"></label>
		<button>
			Submit
		</button>
	</form>
</div>
<%- include("../partials/footer") -%>